@media screen and (max-width: 576px) {
    .navbar, .nav_items{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .banner_title{
        font-size: 2rem;
    }
    .banner img{
        padding:;
    }

}