/* small device */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav_items,
    .our_features{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .banner_title{
        font-size: 2rem;
    }
    .our_features_img_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our_features_text{
        margin-left: 0px;
    }
    .fact_title, .fact_description{
        text-align: center;
    }
    .fact_container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .sponsors_images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }
    .sponsors_icons{
        width: 50%;
    }
}

/* medium device  */
@media screen and (min-width:576px) and (max-width:992px) {
    .our_features{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .fact_title, .fact_description{
        text-align: center;
        
    }
    .fact_description{
        max-width: 900px;
    }
}