@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
}

main > section{
    max-width: 1440px;
    margin: 130px auto 0px auto;
}

/* header css */
header {
  background: #ff900e1a;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 80px;
}
.navbar_title {
  font-size: 35px;
  font-weight: 700;
}

.nav_items {
  display: flex;
  list-style: none;
  gap: 45px;
}

.nav_links {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner_content {
  max-width: 860px;
  margin: 60px auto 40px auto;
  text-align: center;
}

.banner_title {
  font-size: 4rem;
  font-weight: 700;
}

.banner_description {
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0px;
  color: #727272;
}

.btn_primary {
  width: 120px;
  height: 50px;
  color: white;
  background: #ff900e;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}
.banner img{
    margin-bottom:40px;
    width: 100%;
}


/* our features style */

.our_features{
    display: flex;
    align-items: center;
}

.our_features_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our_features_text{
    max-width: 530px;
    margin-left: 70px;
}

.our_features_title{
    font-size: 45px;
    font-weight: 400;
    color: #727272;
}
#of_our{
    font-weight: 700;
    color: #131313;
}
#Features{
    font-weight: 700;
    color: #ff900e;
}
.our_features_description{
    font-weight:400;
    font-size: 16px;
    color: #727272;
    margin: 28px 0px;
}

/* some fact section  */

.fact_title{
  font-size: 45px;
  font-weight: 700;
}
.fact_description{
  font-weight:400;
  font-size: 14px;
  color: #727272;
  max-width: 542px;
  margin-top: 10px;
}
.fact_container{
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px;
}
.facts{
  border: 1px solid #ff900e;
  border-radius: 6px;
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fact_number{
  font-size: 35px;
  font-weight: 600;
  margin: 10px 0px;
}

.fact_name{
  font-weight:400;
    font-size: 16px;
    color: #727272;
}

/* sponsors section style */
.sponsors{
  text-align: center;
}

.sponsors_title{
  font-size: 45px;
  font-weight: 700;
}

.sponsors_description{
  font-weight:400;
  font-size: 14px;
  color: #727272;
  max-width: 542px;
  margin: 0 auto;
  margin-top: 30px;
}

.sponsors_images{
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  filter: grayscale(100%);
}